/* minimal reset + fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;600&display=swap');
@import "tailwindcss";

:root {
  --bg: #ffffff;
}

html,body,#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  color: #111;
}

button { font-family: inherit; }
